{% extends 'base.html' %}
{% load static %}


{% block content %}
{% if user.is_authenticated %}
<img src="{{user.profile.avatar}}">
{{user.first_name}}
<a href="{% url 'logout' %}">LogOut</a>
{% else %}
<a href="/login/vk-oauth2"><img src="{% static 'lvk.png' %}" style="width: 35px" title="VK Login"></a>
<a href="{% url 'social:begin' 'google-oauth2' %}"><img src="{% static 'lgoogle.png' %}" style="width: 35px"
                class="avatar-3" data-toggle="tooltip" title="Google Login"></a>

Logged out
{% endif %}
{% endblock content %}